.CLIENT-RESET {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .CLIENT-RESET .div {
    background-color: #f0f1f4;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .CLIENT-RESET .header {
    position: absolute;
    width: 1449px;
    height: 150px;
    top: 0;
    left: -9px;
    box-shadow: 0px 5px 70px #0000004c;
  }
  
  .CLIENT-RESET .overlap-group {
    position: relative;
    width: 1449px;
    height: 150px;
  }
  
  .CLIENT-RESET .rectangle {
    position: absolute;
    width: 1440px;
    height: 150px;
    top: 0;
    left: 9px;
    background-color: #002267;
  }

  .CLIENT-RESET .img {
    position: absolute;
    width: 597px;
    height: 122px;
    top: 14px;
    left: 14px;
  }
  
   .CLIENT-RESET .text-wrapper {
    position: absolute;
    width: 531px;
    top: 72px;
    left: 888px;
    font-family: "Averia Serif Libre-Bold", Helvetica;
    font-weight: 700;
    color: #f0f1f4;
    font-size: 19px;
    letter-spacing: 0.57px;
    line-height: 26.6px;
    white-space: nowrap;
  }

  .CLIENT-RESET .text-wrapper-2 {
    position: absolute;
    width: 200px;
    top: 47px;
    left: 888px;
    font-family: "Averia Serif Libre-Regular", Helvetica;
    font-weight: 400;
    color: #f0f1f4;
    font-size: 17px;
    letter-spacing: 0.51px;
    line-height: 23.8px;
    white-space: nowrap;
  }

  .CLIENT-RESET .overlap {
    position: absolute;
    width: 643px;
    height: 494px;
    top: 296px;
    left: 398px;
    border-radius: 10px;
  }

  .CLIENT-RESET .element-form {
    position: absolute;
    width: 643px;
    height: 494px;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: -3px -3px 20px 5px #00000021, 10px 10px 4px #00000021;
  }
  
  .CLIENT-RESET .reset-password-wrapper{
    position: relative;
    width: 642px;
    height: 64px;
    top: -1px;
    left: 1px;
    background-color: #EBEBEB;
  }

  .CLIENT-RESET .reset-text{
    position: absolute;
    width: 449px;
    top: 14px;
    left: 23px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #002267;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
  }

.CLIENT-RESET .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 585px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: absolute;
    top: 379px;
    left: 24px;
    background-color: #002267;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    transition: all 0.2s ease;
  }
  
  .CLIENT-RESET .button:hover {
    transform: scale(0.9);
  }

.CLIENT-RESET .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #F5F5F5;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }

  .CLIENT-RESET .enter-password {
    display: flex;
    flex-direction: column;
    width: 585px;
    height: 97px;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: absolute;
    top: 114px;
    left: 24px;
  }

  .CLIENT-RESET .labbel{
    position: relative;
    align-self: stretch;
    margin-top: -1.29px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .CLIENT-RESET .input {
    min-width: 309px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -0.64px;
    margin-left: -0.64px;
    margin-right: -0.64px;
    background-color: #ffffff;
    border-radius: 9.97px;
    overflow: hidden;
    border: 1.29px solid;
    border-color: #D9D9D9;
    flex: 1;
    flex-grow: 1;
    margin-top: -0,64px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-tertiary);
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: 20.6px;
  }

  .CLIENT-RESET .input::placeholder {
    color: #B3B3B3;
    opacity: 1;
  }
  

  .CLIENT-RESET .confirm-password {
    display: flex;
    flex-direction: column;
    width: 585px;
    height: 97px;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: absolute;
    top: 236px;
    left: 24px;
  }