.STAFF-LOGIN {
    background-color: #ffffff;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .STAFF-LOGIN .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .STAFF-LOGIN .istock {
    position: absolute;
    width: 50;
    height: 1024px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .STAFF-LOGIN .overlap-group {
    position: absolute;
    width: 595px;
    height: 91px;
  }
  
  .STAFF-LOGIN .rectangle {
    position: absolute;
    width: 745px;
    height: 1024px;
    top: 3px;
    left: 0;
    background-color: #f0f1f4;
    box-shadow: 5px 0px 70px #757575cc;
  }
  
  .STAFF-LOGIN .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 605px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: absolute;
    top: 680px;
    left: 80px;
    background-color: #002267;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    transition: all 0.2s ease;
  }
  .STAFF-LOGIN .button:hover {
    transform: scale(0.9); 
    cursor: pointer;
  }
  
  .STAFF-LOGIN .text-wrapper {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-brand-on-brand);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .STAFF-LOGIN .text-wrapper-2 {
    position: absolute;
    top: 615px;
    left: 525px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 18.3px;
    letter-spacing: 0;
    line-height: 25.6px;
    text-decoration: underline;
    white-space: nowrap;
  }

  .STAFF-LOGIN .fpw-link {
    color:#002267;
  }

  .STAFF-LOGIN .fpw-link:hover {
    color:#0055ff;
  }
  
  .STAFF-LOGIN .password {
    display: flex;
    flex-direction: column;
    width: 595px;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: absolute;
    top: 515px;
    left: 79px;
  }
  
  .STAFF-LOGIN .label {
    position: relative;
    align-self: stretch;
    margin-top: -1.29px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .STAFF-LOGIN .input {
    min-width: 309px;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -0.64px;
    margin-left: -0.64px;
    margin-right: -0.64px;
    background-color: var(--color-background-default-default);
    border-radius: 9.97px;
    overflow: hidden;
    border: 1.29px solid;
    border-color: var(--color-border-default-default);
    flex: 1;
    flex-grow: 1;
    margin-top: -0.64px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: 20.6px;
    outline: none;
  }
  
  .STAFF-LOGIN .email {
    display: flex;
    flex-direction: column;
    width: 595px;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: absolute;
    top: 400px; 
    left: 79px;
  }
  
  .STAFF-LOGIN .label-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.29px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: 28.8px;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .STAFF-LOGIN .hello-welcome {
    position: absolute;
    width: 442px;
    top: 180px;
    left: 79px;
    margin-bottom: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 60px;
  }
  
  .STAFF-LOGIN .span {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 60px;
  }
  
  .STAFF-LOGIN .text-wrapper-3 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
  }
  
  .STAFF-LOGIN .company-logo {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 20px;
    left: 79px;
  }
  