.STAFF-RESET {
    background-color: #f0f1f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .STAFF-RESET .div {
    background-color: #f0f1f4;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .STAFF-RESET .header {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: -9px;
    background-color: transparent;
    box-shadow: 0px 5px 70px #0000004c;
  }
  
  .STAFF-RESET .overlap-group {
    position: relative;
    width: 1449px;
    height: 150px;
  }
  
  .STAFF-RESET .rectangle {
    position: absolute;
    width: 1440px;
    height: 150px;
    top: 0;
    left: 9px;
    background-color: #002267; 
  }  
  
  .STAFF-RESET .img {
    position: absolute;
    width: 597px;
    height: 122px;
    top: 14px;
    left: 0;
  }
  
  .STAFF-RESET .text-wrapper {
    width: 531px;
    top: 72px;
    font-family: "Averia Serif Libre-Bold", Helvetica;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.57px;
    line-height: 26.6px;
    position: absolute;
    left: 888px;
    color: #f0f1f4;
    white-space: nowrap;
  }
  
  .STAFF-RESET .text-wrapper-2 {
    width: 200px;
    top: 47px;
    font-family: "Averia Serif Libre-Regular", Helvetica;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.51px;
    line-height: 23.8px;
    position: absolute;
    left: 888px;
    color: #f0f1f4;
    white-space: nowrap;
  }
  
  .STAFF-RESET .element-form {
    position: absolute;
    width: 643px;
    height: 425px;
    top: 275px;
    left: 398px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 10px 10px 4px #00000021;
  }
  
  .STAFF-RESET .overlap {
    position: absolute;
    width: 505px;
    height: 21px;
    top: 10px;
    left: 69px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
    border: 0;
    background: none;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 21px;
    padding: 0;
  }
  
  .STAFF-RESET .reset-password-wrapper {
    position: absolute;
    width: 645px;
    height: 64px;
    top: -1px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.03);
  }
  
  .STAFF-RESET .reset-password {
    position: absolute;
    width: 449px;
    top: 10px;
    left: 23px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #002267;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
  }
  .STAFF-RESET .form-wrapper {
    position: absolute; 
    top: 90px; 
    width: 100%; 
    left: 0;
}

  .STAFF-RESET .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 70px;
    top: 500px;
}

.STAFF-RESET .label-1, .STAFF-RESET .label-2 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #002267;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.8px;
}

.STAFF-RESET .input-1, .STAFF-RESET .input-2 {
    min-width: 309px;
    padding: var(--size-space-300) var(--size-space-400);
    width: 502px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--color-background-default-default);
    overflow: hidden;
    border: none;
    border-bottom: 1.29px solid;
    border-radius: 10px;
    border-color: var(--color-border-default-default);
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 20.6px;
    outline: none;
}
  
  
  .STAFF-RESET .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 502px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    position: absolute;
    top: 330px;
    left: 70px;
    background-color: #002267;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #2c2c2c;
    transition: all 0.2s ease;
  }
  .STAFF-RESET .button-text {
    font-family: "Averia Serif Libre-Bold", Helvetica;
    font-size: 17px;
    color: #f0f1f4; 
    white-space: nowrap;
    position: static; 
    text-align: center; 
    width: auto; 
  }  
  
  .STAFF-RESET .button:hover {
    transform: scale(0.9); 
    cursor: pointer;
  }
  
  