<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
  <link rel="stylesheet" th:href="@{/css/CLIENT-register.css}" />
</head>
<body>
<div class="CLIENT-REGISTER">
  <div class="overlap-group">
    <img class="istock" th:src="@{/img/STOCK%20IMAGE.jpg}" />
    <div class="rectangle"></div>
    <div class="sign-in-link">
      <p class="text-link">
        <a th:href="@{/client-login}" class="text-link">
          <span class="text-wrapper">Already have an account?</span>
          <span class="text-wrapper-2">Sign In</span>
        </a>
      </p>
    </div>
    <form th:action="@{/client-register}" method="post">
      <div class="company-name">
        <label class="labbel" for="input-1">Company Name</label>
        <input class="input" id="input-1" placeholder="Enter Company Name" name="companyName"/>
      </div>
      <div class="contact-number">
        <label class="labbel" for="input-2">Contact Number</label>
        <input class="input" id="input-2" placeholder="Enter Contact Number" name="contactNumber"/>
      </div>
      <div class="representative-name">
        <label class="labbel" for="input-3">Representative Name</label>
        <input class="input" id="input-3" placeholder="Enter Representative Name" name="representativeName"/>
      </div>
      <div class="password">
        <label class="labbel" for="input-4">Password</label>
        <input class="input" id="input-4" placeholder="Enter your Password" type="password" name="password"/>
      </div>
      <div class="email">
        <label class="labbel" for="input-5">Email Address</label>
        <input class="input" id="input-5" placeholder="Enter your Email Address" type="email" name="email"/>
      </div>
      <p class="set-up-your-account">
        <span class="text-wrapper-3">Set up your<br /></span>
        <span class="text-wrapper-4">Account</span>
      </p>
      <img class="company-logo" th:src="@{/img/NMIS.png}" />
      <img class="eye-encrypt" th:src="@{/img/EYE.svg}" />
      <div class="button"><button class="button-2">Register</button></div>
    </form>
  </div>
</div>
</body>
</html>
