<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
  <link rel="stylesheet" th:href="@{/css/CLIENT-guide.css}" />
</head>
<body>

  <header class="header">
    <div class="overlap-group">
        <div class="rectangle"></div>
        <img class="img" th:src="@{/img/HEADER.png}" alt="Header Image" />
        <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
        <div class="header-links">
            <a href="/CLIENT-home" class="text-wrapper-2">Home</a>
            <div class="logout-button">
              <form th:action="@{/logout}" method="get" style="display: inline;">
                <a href="/client-login" class="log-out">Logout</a>
              </form>
            </div>
          </div>                  
    </div>
</header>

  <div class="CLIENT-guide">
    <div class="div">
      <!-- Scrollable left side -->
      <div class="overlap-group scrollable">
        <!-- Text content -->
        <p class="bold-text">
          SAMPLE REQUIREMENTS
        </p>
        <p class="extra-text">
          Samples to be submitted for Laboratory Testing must be hygienically and individually packed, sealed and labelled, and with no unusual odor. To avoid sample deterioration during transport, place the sample inside an ice box with coolant or ice.<br/><br/>
          For the Physical Tests and Microbiological Tests, sample weight must be minimum of 250g, and sample temperature must be 10℃ or below upon receipt.<br/><br/>
          For the Chemical/Veterinary Drug Residue Test, average sample weight is 250 grams excluding fat tissues.<br/><br/>
          For the Molecular Biology Test, average sample weight is minimum of 5g.<br/><br/>
          For laboratory tests that entail the Issuance of Official Meat Inspection Certificate, samples must comply with requirements of the importing country.
        </p>
        <p class="bold-text">
          CENTRAL MEAT LABORATORY LISTS OF SERVICES
        </p>
        <!-- Images below the text -->
        <img class="requirement-image" th:src="@{/img/GuideLeft.png}" alt="Sample Image 1" />
      </div>
      <!-- Image on the right -->
      <img class="istock" th:src="@{/img/GuidePIC.png}" />
    </div>
  </div>
</body>
</html>
