<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratory Request Form</title>
    <link rel="stylesheet" th:href="@{/css/CLIENT-reqform.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<body>
    <header class="header">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <img class="img" th:src="@{/img/HEADER.png}" />
          <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
          <div class="text-wrapper-2">Client Request Form</div>
        </div>
    </header>
    
    <form th:action="@{/CLIENT-reqform}" method="post">
        <div class="form-container">
            <div class="form-header">
                <h1>LABORATORY REQUEST FORM</h1>
                <p><i>By completing this from, you are giving NMIS the consent to collect and process Sensitive Information for this legitimate purpose. NMIS ensures to
                    adhere to the principles and provision of Data Privacy Act and shall store the data in accordance with the National Archives of the Philippines Act.</i></p>
                <hr>    
            </div>

            <!-- Category Selection Section (Radio Buttons) -->
            <div class="form-type">
                <label for="category">Category:</label>
                <!-- Inline radio buttons -->
                <div class="form-type-options">
                    <input type="radio" id="monitoring" name="sample_category" value="monitoring" checked>
                    <label for="monitoring">Monitoring</label>
                    
                    <input type="radio" id="walk-in" name="sample_category" value="walk-in">
                    <label for="walk-in">Walk-In</label>
                </div>
            </div>

            <!-- Client Information Section -->
            <div class="row">
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" id="companyName" name="companyName" th:value="${companyName}" readonly>
                </div>
                <div class="form-group">
                    <label for="repName">Representative Name</label>
                    <input type="text" id="repName" name="representativeName" th:value="${representativeName}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" th:value="${email}" readonly>
                </div>
                <div class="form-group">
                    <label for="contact">Contact Number</label>
                    <input type="text" id="contact" name="contactNumber" th:value="${contactNumber}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="ltoNo">LTO No. (if applicable)</label>
                    <input type="text" id="ltoNo" name="ltoNo" th:value="${ltoNo}" readonly>
                </div>
                <div class="form-group">
                    <label for="clientClassif">Client Classification</label>
                    <input type="text" id="clientClassif" name="clientClassif" th:value="${clientClassif}" readonly>
                </div>
            </div>
            <div class="row">
                
                <!-- OR No. Section, conditionally displayed -->
                <div class="form-group" id="orNoContainer" style="display: none;">
                    <label for="orNo">OR No.</label>
                    <input type="text" id="orNo" name="orNo" placeholder="Enter OR Number">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" th:value="${address}" readonly>
                </div>
            </div>

            <!-- Sample Section -->
            <div class="container">
                <hr>
                <h2 class="sample-info-label">General Sample Information</h2>
                <p><u>Samples for Laboratory Test must be hygienically and individually packed, sealed, and labeled, with no unusual odor.</u></p>
                <p><i>Instructions for the client on how to fill-up this section: <br>
                    1. Put your sample code, if any, in the “Client’s Sample Code” <br>
                    2. In the “Sample Description and Details”, write the type of sample (species & meat part classification/cuts) you are submitting, with batch/lot number of the sample and brand name, if any. <br>
                           a. For imported samples, provide the batch/lot number of the sample and the container number where the sample/s were kept.<br>
                    3. In the “Sample Source” box:<br>
                           a. For Local samples, indicate the name of the slaughterhouse, meat cutting plant, or poultry dressing plant source and the farm/hog dealer source, if possible.
                           b. For Imported samples, indicate the name of the local cold storage warehouse and the name of the Foreign Meat Establishment and
                            country where the sample/s were sourced. <br>
                    4. Fill up the remaining boxes accordingly.</i></p>
                <br>
                
                <div class="form-layout">
                    <!-- Left Side -->
                    <div class="form-left">
                        <div class="form-section">
                            <label for="clientSampleCode">Client's Sample Code:</label>
                            <input type="text" id="clientSampleCode" name="clientSampleCode" required>
                        </div>
                        <div class="sample-scrollable">
                            <button class="add-button" type="button" id="addSampleButton">+</button>
                            <button class="delete-button" type="button" id="deleteSampleButton">-</button>
                            <div class="form-section">
                                <label for="sampleDescription">Sample Description and Details:</label>
                                <textarea id="sampleDescription" name="sampleDetails" required></textarea>
                            </div>

                            <div id="additionalSamplesContainer">
                                
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="sampleSource">Sample Source:</label>
                            <textarea type="text" id="sampleSource" name="sampleSource" required></textarea>
                        </div>
                    </div>
                </div>
                        <!-- Form Layout Adjusted -->
                    <div class="form-row">
                        <!-- Left Side - Dates -->
                        <div class="form-left-weight">
                            <div class="form-section">
                                <label for="productionDate">Production Date:</label>
                                <input type="date" id="productionDate" name="productionDate" required>
                            </div>
                            <div class="form-section">
                                <label for="weight">Weight (grams):</label>
                                <input type="number" id="weight" name="weightGrams" required>
                                <small id="weightError" style="color:red; display:none;">Invalid input: Please enter a valid number.</small>
                            </div>
                        </div>

                        <!-- Right Side - Weight -->
                        <div class="form-right-dates">
                            <div class="form-section">
                                <label for="expirationDate">Expiration Date:</label>
                                <input type="date" id="expirationDate" name="expirationDate" required>
                            </div>
                            <div class="form-section">
                                <label for="samplingDate">Sampling Date:</label>
                                <input type="date" id="samplingDate" name="samplingDate" required>
                            </div>
                        </div>
                    </div>

                        <!-- Checkbox and certification text -->
                        <div class="form-footer">
                            <label for="certify">
                                <input class="certify-checkbox"type="checkbox" id="certify" name="certify" required>
                                I hereby certify that all the above information is true and correct. All information provided herein can be used for whatever legal purpose it may serve. 
                                Samples shall be discarded after six (6) months and related laboratory documents shall be disposed of according to NMIS-RDS as approved by NAP.
                            </label>
                        </div>
                    </div>
                    <hr>
                <!--Purpose of Testing-->
                <div class="form-section">
                    <label class="purpose-label" for="test-purpose">Purpose of Laboratory Test</label>
                    <select class="purpose-options" id="test-purpose" name="purposeTest" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="monitoring">Monitoring</option>
                        <option value="local_trade">Local Trade</option>
                        <option value="imported">Imported</option>
                        <option value="export">Export</option>
                        <option value="complaint">Complaint</option>
                        <option value="others">Others (please specify)</option>
                    </select>
                <input class="others-input" type="text" id="other-purpose" placeholder="Please specify" style="display: none;">
                <script th:src="@{/js/CLIENT-labpurpose.js}"></script>
                <hr>
                    
                    <!-- Examination Section -->
                    <!-- Microbiological Tests -->
                    <h3 class="exam-section-label">EXAMINATION : <span class="exam-section-sublabel">(kindly select the box for the requested tests and check its respective sample requirements.)</span></h3>
                    <div class="checkbox-group">
                        <h4 class="exam-labels"><b>MICROBIOLOGICAL TESTS </b> (7-16 Days) <span class="exam-req">• average sample temperature must be 10°C or below, 
                            and average sample weight must be 250g for meat, minimum; average sample weight must be 50g for 
                            cecal content or intact cecum, minimum</span></h4>
                    
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <input type="checkbox" id="standard_count" name="microbioTests" value="standard_count">
                                <label for="standard_count">Standard Plate Count (Php 150.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="staphylococcus" name="microbioTests" value="staphylococcus">
                                <label for="staphylococcus">Staphylococcus aureus (Php 350.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="salmonella" name="microbioTests" value="salmonella">
                                <label for="salmonella">Salmonella sp. (Php 350.00)</label>
                            </div>
                            
                            <div class="checkbox-item">
                                <input type="checkbox" id="campylobacter" name="microbioTests" value="campylobacter">
                                <label for="campylobacter">Campylobacter (Php 1,500.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="coliform" name="microbioTests" value="coliform">
                                <label for="coliform">Coliform Count (Php 150.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="culture" name="microbioTests" value="culture">
                                <label for="culture">Culture and Sensitivity Test (Php 1,500/panel)</label>
                                <select class="culture-options" id="culture-options" name="cultureOption" style="display: none;">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="gram-positive">Gram Positive AST</option>
                                    <option value="gram-negative">Gram Negative AST</option>
                                    <option value="gram-both">Both</option>
                                </select>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="e_coli" name="microbioTests" value="e_coli">
                                <label for="e_coli">E. Coli (Php 350.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="e_coli2" name="microbioTests" value="e_coli2">
                                <label for="e_coli2">E. Coli & E. Coli O157;H7 (Php 700.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="yeast" name="microbioTests" value="yeast">
                                <label for="yeast">Yeast and Molds (Php 300.00)</label>
                            </div>
                        </div>

                        <br><h4 class ="exam-labels">• Physical Tests (2 Days) <span class="exam-section-sublabel">•average sample weight must be 250g, minimum;</span></h4>                            
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <input type="checkbox" id="organoleptic" name="microbioTests" value="organoleptic">
                                <label for="organoleptic">Organoleptic Test (Php 50.00)</label>
                            </div>

                            <div class="checkbox-item">
                                <input type="checkbox" id="pH" name="microbioTests" value="pH">
                                <label for="pH">pH (Php 35.00)</label>
                            </div>
                        </div>    

                        <br><h4 class ="exam-labels">• Parasitological Tests (2 Days) <span class="exam-section-sublabel">•Samples should not include fat tissues and; •average sample weight must be 250g, minimum;</span></h4>                            
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <input type="checkbox" id="trichinella" name="microbioTests" value="trichinella">
                                <label for="trichinella">Trichinella spp. Identification (Php 150.00)</label>
                            </div>

                            <div class="checkbox-item">
                                <input type="checkbox" id="others-para" name="microbioTests" value="others-para" onclick="toggleSpecifyInput()">
                                <label for="others-para">Others: </label>
                                <input type="text" id="specify-para" name="otherMicrobioTests" placeholder="specify" class="specify-input" style="display: none;">
                            </div>                            
                        </div>    
                    </div>
                    
                    
                    <!-- MolBio Tests -->
                    
                    <div class="checkbox-group">
                        <h4 class="exam-labels"><b>MOLECULAR BIOLOGY TESTS</b> (5 Days) <span class="exam-req">• average sample weight is 5g at minimum</span></h4>
                        
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <input type="checkbox" id="dog" name="molecTests" value="dog">
                                <label for="dog">Dog (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="cat" name="molecTests" value="cat">
                                <label for="cat">Cat (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="chicken" name="molecTests" value="chicken">
                                <label for="chicken">Chicken (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="buffalo" name="molecTests" value="buffalo">
                                <label for="buffalo">Buffalo (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="cattle" name="molecTests" value="cattle">
                                <label for="cattle">Cattle (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="horse" name="molecTests" value="horse">
                                <label for="horse">Horse (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="goat" name="molecTests" value="goat">
                                <label for="goat">Goat (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="sheep" name="molecTests" value="sheep">
                                <label for="sheep">Sheep (Php 1,500)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="swine" name="molecTests" value="swine">
                                <label for="swine">Swine (Php 1,500)</label>
                            </div>
                        </div>
                    </div>                    
                    <!-- Chem Tests -->
                     
                    <div class="checkbox-group">
                        <h4 class="exam-labels"><b>CHEMICAL/VETERINARY DRUG RESIDUE TESTS</b> (5-6 Days) <span class="exam-req">•Samples should not include fat tissues and; •average sample weight must be
                            250g, minimum;</span></h4><br>
                        <h4 class ="chem-sub-labels">• Microbial Inhibition Test (5 Days)</h4>                            
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <input type="checkbox" id="beta-lactams" name="chemTests" value="beta-lactams">
                                <label for="beta-lactams">Beta-lactams (Php 375.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="tetracyclines" name="chemTests" value="tetracyclines">
                                <label for="tetracyclines">Tetracyclines (Php 375.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="sulfonamides" name="chemTests" value="sulfonamides">
                                <label for="sulfonamides">Sulfonamides (Php 375.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="aminoglycosides" name="chemTests" value="aminoglycosides">
                                <label for="aminoglycosides">Aminoglycosides (Php 375.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="macrolides" name="chemTests" value="macrolides">
                                <label for="macrolides">Macrolides (Php 375.00)</label>
                            </div>
                    
                            <div class="checkbox-item">
                                <input type="checkbox" id="quinolones" name="chemTests" value="quinolones">
                                <label for="quinolones">Quinolones (Php 375.00)</label>
                            </div>
                        </div>
                    

                        <br><h4 class ="chem-sub-labels">• Enzyme-Linked ImmunoSorbent Assay (ELISA) (6 Days)</h4>                            
                            <div class="checkbox-items">
                                <div class="checkbox-item">
                                    <input type="checkbox" id="chloramphenicol" name="chemTests" value="chloramphenicol">
                                    <label for="chloramphenicol">Chloramphenicol (Php1,500)</label>
                                </div>
                    
                                <div class="checkbox-item">
                                    <input type="checkbox" id="nitrofuran-aoz" name="chemTests" value="nitrofuran-aoz">
                                    <label for="nitrofuran-aoz">Nitrofuran AOZ (Php1,500)</label>
                                </div>
                    
                                <div class="checkbox-item">
                                    <input type="checkbox" id="nitrofuran-amoz" name="chemTests" value="nitrofuran-amoz">
                                    <label for="nitrofuran-amoz">Nitrofuran AMOZ (Php1,500)</label>
                                </div>
                    
                                <div class="checkbox-item">
                                    <input type="checkbox" id="corticosteroids" name="chemTests" value="corticosteroids">
                                    <label for="corticosteroids">Corticosteroids (Php1,500)</label>
                                </div>
                    
                                <div class="checkbox-item">
                                    <input type="checkbox" id="olaquindox" name="chemTests" value="olaquindox">
                                    <label for="olaquindox">Olaquindox (Php1,500)</label>
                                </div>
                    
                                <div class="checkbox-item">
                                    <input type="checkbox" id="beta-agonists" name="chemTests" value="beta-agonists">
                                    <label for="beta-agonists"> Beta-agonists (Php1,500)</label>
                                </div>

                                <div class="checkbox-item">
                                    <input type="checkbox" id="stilbenes" name="chemTests" value="stilbenes">
                                    <label for="stilbenes">Stilbenes (Php1,500)</label>
                                </div>

                                <div class="checkbox-item">
                                    <input type="checkbox" id="ractopamine" name="chemTests" value="ractopamine">
                                    <label for="ractopamine">Ractopamine (Php1,500)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h2>Releasing of Laboratory Result:</h2>
                    <div class="options-grid">
                      <div class="option">
                        <input type="radio" id="central" name="releasingResults" value="central" required>
                        <label class="releasing-option" for="central">Pick-up through Central Office</label>
                      </div>
              
                      <div class="option">
                        <input type="radio" id="regional" name="releasingResults" value="regional">
                        <label class="releasing-option" for="regional">Pick-up through Regional Office:</label>
                        <input type="specify" id="regional-office" name="regional-office" placeholder="specify" style="display: none;">
                      </div>
              
                      <div class="option">
                        <input type="radio" id="registered-mail" name="releasingResults" value="registered-mail">
                        <label class="releasing-option" for="registered-mail">Registered Mail with return card (mailing fee applies)</label>
                      </div>
              
                      <div class="option">
                        <input type="radio" id="courier" name="releasingResults" value="courier">
                        <label class="releasing-option" for="courier">Courier (mailing fee applies)</label>
                      </div>
                    </div>
                </div>
        <!-- Place the Review and Submit button here -->
        <button type="button" class="submit" id="reviewSubmit">Review and Submit</button>

        <!-- Popup for Review Form -->
        <div class="popup" id="reviewPopup">
            <div class="popup-content">
                <span class="close-popup" onclick="closePopup()">&times;</span>
                <div id="reviewContent" class="table-container"></div>

<!--                &lt;!&ndash; Download PDF Button with Icon and Tooltip &ndash;&gt;-->
<!--                <div class="tooltip">-->
<!--                    <i class="fas fa-download" id="downloadPdfBtn"></i>-->
<!--                    <span class="tooltiptext">Download PDF</span>-->
<!--                </div>-->

                <!-- Confirm Submit Button inside the popup -->
                <button type="button" class="submit" id="confirmSubmit">Confirm and Submit</button>
            </div>
        </div>


    </form>
    <script th:src="@{/js/CLIENT-reqform.js}"></script>
</body>
</html>