<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" th:href="@{/css/CLIENT-home.css}" />
</head>
<body>
<div class="CLIENT-HOME">
    <div class="div">
        <header class="header">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <img class="img" th:src="@{/img/HEADER.png}" alt="Header Image" />
                <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
                <div class="header-links">
                    <a href="/CLIENT-home" class="text-wrapper-2">Home</a>
                    <div class="logout-button">
                      <form th:action="@{/logout}" method="get" style="display: inline;">
                        <a href="/client-login" class="log-out">Logout</a>
                      </form>
                    </div>
                  </div>                  
            </div>
        </header>
        <div class="user-indicator-container">
            <span class="user-indicator" th:text="'Welcome, ' + ${loggedInClient.representativeName}"></span>
        </div>        
        
        <div class="buttons-container">
            <a th:href="@{/CLIENT-guide}" class="overlap-3">
                <div class="text-wrapper-5">Guide</div>
                <img class="log" th:src="@{/img/guide-icon.png}" />
            </a>
            <a th:href="@{/CLIENT-trackreq}" class="overlap">
                <div class="text-wrapper-3">Track My Request</div>
                <img class="log" th:src="@{/img/TrackMyRequest-Icon.png}" />
            </a>
            <a th:href="@{/CLIENT-reqform}" class="overlap-2">
                <div class="text-wrapper-4">Submit a Request</div>
                <img class="submit" th:src="@{/img/SubmitARequest-Icon.png}" />
            </a>
        </div>
    </div>
</div>
</body>
</html>