<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" th:href="@{/css/CLIENT-login.css}" />
  </head>
  <body>
    <div class="CLIENT-LOGIN">
      <div class="div">
        <div class="overlap-group">
          <img class="company-logo" th:src="@{/img/NMIS.png}" />
          <p class="hello-welcome">
            <span>Hello,<br /></span>
            <span class="text-wrapper-4">welcome!</span>
          </p>
          
          <form th:action="@{/CLIENT-login}" method="post">
            <div class="credentials">
              <label class="label" for="email">Email Address</label>
              <input class="input" id="email" name="email" type="email" placeholder="Enter your Email Address" required />
            </div>

            <div class="credentials">
              <label class="label" for="password">Password</label>
              <div class="password-input-container">
                <input class="input" id="password" name="password" type="password" placeholder="Enter your Password" required />
                <img class="eye-undefined-glyph" th:src="@{/img/EYE.svg}" />
              </div>
            </div>

            <div class="text-wrapper-2">
              <a th:href="@{/CLIENT-fpw}" class="fpw-link">Forgot Password?</a>
            </div>

            <button class="button" type="submit">
              <span class="text-wrapper">Submit</span>
            </button>
            
            <div class="text-wrapper-3">
              <span class="register-link1"> <a th:href="@{/client-register}"> Not registered yet? </span> 
              <span class="register-link2">Create an Account</a></span>
            </div>
          </form>
        </div>
        <img class="istock" th:src="@{/img/STOCK IMAGE.jpg}" />
      </div>
    </div>
  </body>
</html>
