<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
  <link rel="stylesheet" th:href="@{/css/CLIENT-fpw.css}" />
</head>
<body>
<div class="CLIENT-FPW">
  <div class="div">
    <header class="header">
      <div class="overlap-group">
        <div class="rectangle"></div>
        <img class="img" th:src="@{/img/HEADER.png}" />
        <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
        <div class="text-wrapper-2">Client Login</div>
      </div>
    </header>
    <div class="element-form">
      <form th:action="@{/CLIENT-fpw}" method="post">
        <div class="forgot-password-wrapper">
          <div class="forgot-password">Forgot Password?</div>
        </div>
        <p class="fpw-descriptor">
          <span class="span">Enter the email address you used for this account and we’ll</span><br>
          <span class="span">send you a </span>
          <span class="text-wrapper-3">code</span>
          <span class="span">to confirm your request.</span>
        </p>
        <p>
          <input class="input" id="input-1" type="email" name="email" placeholder="Email Address" required />
        </p>
        <button type="submit" class="button">
          <span class="button-text">Submit</span>
        </button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
