<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, content=1.0">
    <title>Database</title>
    <link rel="stylesheet" th:href="@{/css/REPORT-testing.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="overlap-group">
            <div class="rectangle"></div>
            <img class="img" th:src="@{/img/HEADER.png}" alt="Header Image" />
            <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
            <div class="header-links">
                <a href="/STAFF-TESTINGhome" class="text-wrapper-2">Testing Staff Home</a>
                <div class="logout-button">
                    <form th:action="@{/logout}" method="get" style="display: inline;">
                        <a href="/STAFF-login" class="log-out">Logout</a>
                    </form>
                </div>
            </div>                  
        </div>
    </header>

    <!-- Content Area -->
    <main class="content">
        <div class="request-review-box">
            <h2 class="title">Database</h2>
            <div class="table-container">
                <body>
                    <h2 class="testsection">Microbiological Tests</h2>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">TOTAL</th>
                                <th colspan="3">January</th>
                                <th colspan="3">February</th>
                                <th colspan="3">March</th>
                                <th colspan="3">April</th>
                                <th colspan="3">May</th>
                                <th colspan="3">June</th>
                                <th colspan="3">July</th>
                                <th colspan="3">August</th>
                                <th colspan="3">September</th>
                                <th colspan="3">October</th>
                                <th colspan="3">November</th>
                                <th colspan="3">December</th>
                            </tr>
                            <tr>
                                <th>Test Name</th>
                                <th>Total No. of analysis performed</th>
                                <th>Total No. of samples with (+) result</th>
                                <th>Total No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="summary : ${microbiologicalTests}">
                                <td class="testname" th:text="${summary.testName}"></td>
                                <td th:text="${summary.totalTests}"></td>
                                <td th:text="${summary.positiveResults}"></td>
                                <td th:text="${summary.negativeResults}"></td>

                                 <!-- January -->
                                <td th:text="${yearlyMicrobioTests[1][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[1][summary.testName]?.getMonthlyPositiveResults(1)}"></td>
                                <td th:text="${yearlyMicrobioTests[1][summary.testName]?.getMonthlyNegativeResults(1)}"></td>

                                <!-- February -->
                                <td th:text="${yearlyMicrobioTests[2][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[2][summary.testName]?.getMonthlyPositiveResults(2)}"></td>
                                <td th:text="${yearlyMicrobioTests[2][summary.testName]?.getMonthlyNegativeResults(2)}"></td>

                                <!-- March -->
                                <td th:text="${yearlyMicrobioTests[3][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[3][summary.testName]?.getMonthlyPositiveResults(3)}"></td>
                                <td th:text="${yearlyMicrobioTests[3][summary.testName]?.getMonthlyNegativeResults(3)}"></td>

                                <!-- April -->
                                <td th:text="${yearlyMicrobioTests[4][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[4][summary.testName]?.getMonthlyPositiveResults(4)}"></td>
                                <td th:text="${yearlyMicrobioTests[4][summary.testName]?.getMonthlyNegativeResults(4)}"></td>

                                <!-- May -->
                                <td th:text="${yearlyMicrobioTests[5][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[5][summary.testName]?.getMonthlyPositiveResults(5)}"></td>
                                <td th:text="${yearlyMicrobioTests[5][summary.testName]?.getMonthlyNegativeResults(5)}"></td>

                                <!-- June -->
                                <td th:text="${yearlyMicrobioTests[6][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[6][summary.testName]?.getMonthlyPositiveResults(6)}"></td>
                                <td th:text="${yearlyMicrobioTests[6][summary.testName]?.getMonthlyNegativeResults(6)}"></td>

                                <!-- July -->
                                <td th:text="${yearlyMicrobioTests[7][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[7][summary.testName]?.getMonthlyPositiveResults(7)}"></td>
                                <td th:text="${yearlyMicrobioTests[7][summary.testName]?.getMonthlyNegativeResults(7)}"></td>

                                <!-- August -->
                                <td th:text="${yearlyMicrobioTests[8][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[8][summary.testName]?.getMonthlyPositiveResults(8)}"></td>
                                <td th:text="${yearlyMicrobioTests[8][summary.testName]?.getMonthlyNegativeResults(8)}"></td>

                                <!-- September -->
                                <td th:text="${yearlyMicrobioTests[9][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[9][summary.testName]?.getMonthlyPositiveResults(9)}"></td>
                                <td th:text="${yearlyMicrobioTests[9][summary.testName]?.getMonthlyNegativeResults(9)}"></td>

                                <!-- October -->
                                <td th:text="${yearlyMicrobioTests[10][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[10][summary.testName]?.getMonthlyPositiveResults(10)}"></td>
                                <td th:text="${yearlyMicrobioTests[10][summary.testName]?.getMonthlyNegativeResults(10)}"></td>

                                <!-- November -->
                                <td th:text="${yearlyMicrobioTests[11][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[11][summary.testName]?.getMonthlyPositiveResults(11)}"></td>
                                <td th:text="${yearlyMicrobioTests[11][summary.testName]?.getMonthlyNegativeResults(11)}"></td>

                                <!-- December -->
                                <td th:text="${yearlyMicrobioTests[12][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMicrobioTests[12][summary.testName]?.getMonthlyPositiveResults(12)}"></td>
                                <td th:text="${yearlyMicrobioTests[12][summary.testName]?.getMonthlyNegativeResults(12)}"></td>
                            </tr>
                        </tbody>
                    </table>

                <body>
                    <h2 class="testsection">Molecular Biology Tests</h2>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">TOTAL</th>
                                <th colspan="3">January</th>
                                <th colspan="3">February</th>
                                <th colspan="3">March</th>
                                <th colspan="3">April</th>
                                <th colspan="3">May</th>
                                <th colspan="3">June</th>
                                <th colspan="3">July</th>
                                <th colspan="3">August</th>
                                <th colspan="3">September</th>
                                <th colspan="3">October</th>
                                <th colspan="3">November</th>
                                <th colspan="3">December</th>
                            </tr>
                            <tr>
                                <th>Test Name</th>
                                <th>Total No. of analysis performed</th>
                                <th>Total No. of samples with (+) result</th>
                                <th>Total No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="summary : ${molecularBiologyTests}">
                                <td class="testname" th:text="${summary.testName}"></td>
                                <td th:text="${summary.totalTests}"></td>
                                <td th:text="${summary.positiveResults}"></td>
                                <td th:text="${summary.negativeResults}"></td>

                                <!-- January -->
                                <td th:text="${yearlyMolbioTests[1][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[1][summary.testName]?.getMonthlyPositiveResults(1)}"></td>
                                <td th:text="${yearlyMolbioTests[1][summary.testName]?.getMonthlyNegativeResults(1)}"></td>
                                
                                <!-- February -->
                                <td th:text="${yearlyMolbioTests[2][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[2][summary.testName]?.getMonthlyPositiveResults(2)}"></td>
                                <td th:text="${yearlyMolbioTests[2][summary.testName]?.getMonthlyNegativeResults(2)}"></td>
                                
                                <!-- March -->
                                <td th:text="${yearlyMolbioTests[3][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[3][summary.testName]?.getMonthlyPositiveResults(3)}"></td>
                                <td th:text="${yearlyMolbioTests[3][summary.testName]?.getMonthlyNegativeResults(3)}"></td>
                                
                                <!-- April -->
                                <td th:text="${yearlyMolbioTests[4][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[4][summary.testName]?.getMonthlyPositiveResults(4)}"></td>
                                <td th:text="${yearlyMolbioTests[4][summary.testName]?.getMonthlyNegativeResults(4)}"></td>
                                
                                <!-- May -->
                                <td th:text="${yearlyMolbioTests[5][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[5][summary.testName]?.getMonthlyPositiveResults(5)}"></td>
                                <td th:text="${yearlyMolbioTests[5][summary.testName]?.getMonthlyNegativeResults(5)}"></td>

                                <!-- June -->
                                <td th:text="${yearlyMolbioTests[6][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[6][summary.testName]?.getMonthlyPositiveResults(6)}"></td>
                                <td th:text="${yearlyMolbioTests[6][summary.testName]?.getMonthlyNegativeResults(6)}"></td>

                                <!-- July -->
                                <td th:text="${yearlyMolbioTests[7][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[7][summary.testName]?.getMonthlyPositiveResults(7)}"></td>
                                <td th:text="${yearlyMolbioTests[7][summary.testName]?.getMonthlyNegativeResults(7)}"></td>

                                <!-- August -->
                                <td th:text="${yearlyMolbioTests[8][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[8][summary.testName]?.getMonthlyPositiveResults(8)}"></td>
                                <td th:text="${yearlyMolbioTests[8][summary.testName]?.getMonthlyNegativeResults(8)}"></td>

                                <!-- September -->
                                <td th:text="${yearlyMolbioTests[9][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[9][summary.testName]?.getMonthlyPositiveResults(9)}"></td>
                                <td th:text="${yearlyMolbioTests[9][summary.testName]?.getMonthlyNegativeResults(9)}"></td>
                                
                                <!-- October -->
                                <td th:text="${yearlyMolbioTests[10][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[10][summary.testName]?.getMonthlyPositiveResults(10)}"></td>
                                <td th:text="${yearlyMolbioTests[10][summary.testName]?.getMonthlyNegativeResults(10)}"></td>
                                
                                <!-- November -->
                                <td th:text="${yearlyMolbioTests[11][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[11][summary.testName]?.getMonthlyPositiveResults(11)}"></td>
                                <td th:text="${yearlyMolbioTests[11][summary.testName]?.getMonthlyNegativeResults(11)}"></td>

                                <!-- December -->
                                <td th:text="${yearlyMolbioTests[12][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyMolbioTests[12][summary.testName]?.getMonthlyPositiveResults(12)}"></td>
                                <td th:text="${yearlyMolbioTests[12][summary.testName]?.getMonthlyNegativeResults(12)}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="testsection">Chemical/Veterinary Drug Residue Tests</h2>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">TOTAL</th>
                                <th colspan="3">January</th>
                                <th colspan="3">February</th>
                                <th colspan="3">March</th>
                                <th colspan="3">April</th>
                                <th colspan="3">May</th>
                                <th colspan="3">June</th>
                                <th colspan="3">July</th>
                                <th colspan="3">August</th>
                                <th colspan="3">September</th>
                                <th colspan="3">October</th>
                                <th colspan="3">November</th>
                                <th colspan="3">December</th>
                            </tr>
                            <tr>
                                <th>Test Name</th>
                                <th>Total No. of analysis performed</th>
                                <th>Total No. of samples with (+) result</th>
                                <th>Total No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>

                                <th>No. of analysis performed</th>
                                <th>No. of samples with (+) result</th>
                                <th>No. of samples with (-) result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="summary : ${chemicalSummaries}">
                                <td class="testname" th:text="${summary.testName}"></td>
                                <td th:text="${summary.totalTests}"></td>
                                <td th:text="${summary.positiveResults}"></td>
                                <td th:text="${summary.negativeResults}"></td>

                                <!-- January -->
                                <td th:text="${yearlyChemicalTests[1][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[1][summary.testName]?.getMonthlyPositiveResults(1)}"></td>
                                <td th:text="${yearlyChemicalTests[1][summary.testName]?.getMonthlyNegativeResults(1)}"></td>
                                
                                <!-- February -->
                                <td th:text="${yearlyChemicalTests[2][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[2][summary.testName]?.getMonthlyPositiveResults(2)}"></td>
                                <td th:text="${yearlyChemicalTests[2][summary.testName]?.getMonthlyNegativeResults(2)}"></td>
                                
                                <!-- March -->
                                <td th:text="${yearlyChemicalTests[3][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[3][summary.testName]?.getMonthlyPositiveResults(3)}"></td>
                                <td th:text="${yearlyChemicalTests[3][summary.testName]?.getMonthlyNegativeResults(3)}"></td>
                                
                                <!-- April -->
                                <td th:text="${yearlyChemicalTests[4][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[4][summary.testName]?.getMonthlyPositiveResults(4)}"></td>
                                <td th:text="${yearlyChemicalTests[4][summary.testName]?.getMonthlyNegativeResults(4)}"></td>
                                
                                <!-- May -->
                                <td th:text="${yearlyChemicalTests[5][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[5][summary.testName]?.getMonthlyPositiveResults(5)}"></td>
                                <td th:text="${yearlyChemicalTests[5][summary.testName]?.getMonthlyNegativeResults(5)}"></td>

                                <!-- June -->
                                <td th:text="${yearlyChemicalTests[6][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[6][summary.testName]?.getMonthlyPositiveResults(6)}"></td>
                                <td th:text="${yearlyChemicalTests[6][summary.testName]?.getMonthlyNegativeResults(6)}"></td>

                                <!-- July -->
                                <td th:text="${yearlyChemicalTests[7][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[7][summary.testName]?.getMonthlyPositiveResults(7)}"></td>
                                <td th:text="${yearlyChemicalTests[7][summary.testName]?.getMonthlyNegativeResults(7)}"></td>

                                <!-- August -->
                                <td th:text="${yearlyChemicalTests[8][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[8][summary.testName]?.getMonthlyPositiveResults(8)}"></td>
                                <td th:text="${yearlyChemicalTests[8][summary.testName]?.getMonthlyNegativeResults(8)}"></td>

                                <!-- September -->
                                <td th:text="${yearlyChemicalTests[9][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[9][summary.testName]?.getMonthlyPositiveResults(9)}"></td>
                                <td th:text="${yearlyChemicalTests[9][summary.testName]?.getMonthlyNegativeResults(9)}"></td>
                                
                                <!-- October -->
                                <td th:text="${yearlyChemicalTests[10][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[10][summary.testName]?.getMonthlyPositiveResults(10)}"></td>
                                <td th:text="${yearlyChemicalTests[10][summary.testName]?.getMonthlyNegativeResults(10)}"></td>
                                
                                <!-- November -->
                                <td th:text="${yearlyChemicalTests[11][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[11][summary.testName]?.getMonthlyPositiveResults(11)}"></td>
                                <td th:text="${yearlyChemicalTests[11][summary.testName]?.getMonthlyNegativeResults(11)}"></td>

                                <!-- December -->
                                <td th:text="${yearlyChemicalTests[12][summary.testName]?.totalTests}"></td>
                                <td th:text="${yearlyChemicalTests[12][summary.testName]?.getMonthlyPositiveResults(12)}"></td>
                                <td th:text="${yearlyChemicalTests[12][summary.testName]?.getMonthlyNegativeResults(12)}"></td>
                            </tr>
                        </tbody>
                    </table>
                </body>
            </div>
        </div>
    </main>