<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
  <link rel="stylesheet" th:href="@{/css/STAFF-reset.css}" />
</head>
<body>
<div class="STAFF-RESET">
  <div class="div">
    <header class="header">
      <div class="overlap-group">
        <div class="rectangle"></div>
        <img class="img" th:src="@{/img/HEADER.png}" alt="Header Image" />
        <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
        <div class="text-wrapper-2">Laboratory Staff</div>
      </div>
    </header>
    <div class="element-form">
      <input class="overlap" />
      <div class="reset-password-wrapper">
        <div class="reset-password">Reset Password</div>
      </div>
      <div class="form-wrapper">
        <div class="input-container">
          <div class="new-pw">
            <label class="label-1" for="input-1">New Password</label>
            <input class="input-1" id="input-1" type="password" placeholder="Enter New Password" />
          </div>
        </div>
        <div class="input-container">
          <div class="confirm-pw">
            <label class="label-2" for="input-2">Confirm Password</label>
            <input class="input-2" id="input-2" type="password" placeholder="Re-enter New Password" />
          </div>
        </div>
      </div>
      <button class="button">
        <span class="button-text">Submit</span>
      </button>
    </div>
  </div>
</div>
</body>
</html>
