<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" th:href="@{/css/STAFF-RELEASINGhome.css}" />
</head>
<body>
<div class="STAFF-RELEASINGhome">
    <div class="div">
        <header class="header">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <img class="img" th:src="@{/img/HEADER.png}" alt="Header Image" />
                <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
                <div class="text-wrapper-2">Receiving/Releasing Laboratory Home</div>
            </div>
        </header>
        <div class="buttons-container">
            <a th:href="@{/RELEASE-review}" class="overlap-3">
                <div class="text-wrapper-5">Request Review</div>
                <img class="log" th:src="@{/img/release-request.png}" />
            </a>
            <a th:href="@{/RELEASE-release}" class="overlap">
                <div class="text-wrapper-3">For Release</div>
                <img class="log" th:src="@{/img/release-forrelease.png}" />
            </a>
            <a th:href="@{/RELEASE-database}" class="overlap-2">
                <div class="text-wrapper-4">Database</div>
                <img class="submit" th:src="@{/img/release-database.png}" />
            </a>        
        </div>
    </div>
</div>
</body>
</html>