<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" th:href="@{/css/STAFF-home.css}" />
</head>
<body>
<div class="CLIENT-HOME">
    <div class="div">
        <header class="header">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <img class="img" th:src="@{/img/HEADER.png}" alt="Header Image" />
                <div class="text-wrapper">LABORATORY INFORMATION MANAGEMENT SYSTEM</div>
                <div class="text-wrapper-2">Staff Login</div>
            </div>
        </header>
        <div class="overlap">
            <div class="text-wrapper-3">Database</div>
            <img class="log" th:src="@{/img/TrackMyRequest-Icon.png}" />
        </div>
        <div class="overlap-2">
            <div class="text-wrapper-4">For Release</div>
            <img class="submit" th:src="@{/img/SubmitARequest-Icon.png}" />
        </div>
        <div class="overlap-3">
            <div class="text-wrapper-5">Request Review</div>
        </div>
    </div>
</div>
</body>
</html>